{{!-- spacer --}}

<li>
	{{name}}

	<button class="change-status" data-id="{{id}}">
		{{#if completed}}COMPLETED{{else}}ADD TO TO-DO LIST{{/if}}
	</button>

	<button class="delete-task" data-id="{{id}}">DELETE</button>
</li>