{{!-- Header space for easier readability --}}


{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}

{{!-- Create a button in index.handlebars that will submit the user input into the database. --}}

<h1>Task Manager</h1>

<h2>To-Do</h2>

<ol>
  {{#each tasks}}
    {{#unless completed}}
      {{> tasks/task-block completed=true}}
    {{/unless}}
  {{/each}}
</ol>

<h2>Done</h2>

<ol>
  {{#each tasks}}
    {{#if completed}}
      {{> tasks/task-block completed=false}}
    {{/if}}
  {{/each}}
</ol>

<h2>Add a Task</h2>
<form class="create-form" action="/" method="POST">

  <div class="form-group">
    <label for="task">Add a new task to your To-Do list:</label>
    <input type="text" id="task" name="newTask">
  </div>

  <button type="submit">Add Task</button>
</form>
