/* head space */

* {
  font-family: 'Playfair Display', serif; 
  color:darkolivegreen;
}

.container {
  background-color: whitesmoke;
  height: 100vh;
}

/* Task Manager Heading  */
.title {
  width: 100%;
  margin: 2vh 0 2vh 0;
  text-align: center;
}

/* To-Do and Done headings  */
.heading {
  width: 90%;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 0 auto;
}

/* To-Do and Done Columns  */
.to-do,
.done {
  display: flex;
  justify-content: center;
}

/* add task column  */
.add {
  text-align: center;
}

/* delete buttons  */
.delete-task {
  position: static;
  font-weight: bold;
  color: darkred;
}
 
/* check marks and add buttons  */
.change-status {
  margin-left: 4vw;
}

/* all buttons  */
button {
  background-color: white;
  border-color: rgb(119, 150, 168);
}

 